
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/userdb
    username: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  flyway:
    enabled: true
